body {
  margin: 0;
  font-family: Arial;
  background-color:black;
  color: rgb(255, 255, 255);
}

/* NAV */
.main-nav {
position: relative;
z-index: 1;
display: flex;

list-style: none;
font-size: 0.7em;
margin: 0;
flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration-line:none ;
}

ul {
  padding: 20px;
}

li {
  padding: 20px;
  font-size: large;
  color: white;
}

li.push {
  margin-left: auto;
  text-decoration-line: none;
}

/* background image */
.image1 {
  position: relative;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}
/* overlay Logo */
.image2 {
  background-color: #000000a6;
  position: absolute;
  top: 10vh;
  left: 30px;
  padding: 12vh 0% 0% 0%;
  max-width: 41vw;
  max-height: 50vh;
}


footer {
  text-align: center;

}



