body {
  margin: auto 0;
  font-family: Arial;
  background-color:black;
  color: rgb(255, 255, 255);
}

.main-nav {
position: relative;
z-index: 1;
display: flex;
list-style: none;
font-size: 0.7em;
margin: 0;
flex-direction: row;
}



a {
  color: white;
  text-decoration-line:none ;
}

ul {
  padding: 20px;
}

li {
  padding: 20px;
  font-size: large;
  color: white;
}

li.push {
  margin-left: auto;
  text-decoration-line: none;
}



/* Styles for the slideshow container */

h3 {
  /* !!! To Work !!! */
  text-justify: center;
}

/* Styles for the slideshow container */
.slideshow-container {
  max-width: 100%; /* Make the container width 100% of the viewport */
  height: auto;
  overflow: hidden; /* Hide overflowing images */
  position: relative;
}

/* Styles for the individual slides */
.slide {
  width: 100%; /* Make each slide the same width as the container */
  display: none;
}

/* Styles for the images in the slides */
.slide img {
    width: 100%;
    max-height: 80vh; /* Set a maximum height for the images, adjust as needed */
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

/* Style for the previous and next buttons (optional) */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

footer {
  display: flex;
  justify-content: center;
}

/* class here was main nav */
@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}